
.get-weather{
    color: red;
}
.clear-button{
    background: #92c7eb;
    background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/010_x-512.png");
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

// #Search::-webkit-search-cancel-button{
//     position:relative;
//     right:20px;  

//     -webkit-appearance: none;
//     height: 20px;
//     width: 20px;
//     border-radius:10px;
//     background: red;
// }