@import url("https://fonts.googleapis.com/css?family=Paytone+One|Poller+One");
@import url("https://fonts.googleapis.com/css?family=Squada+One");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster|Oleo+Script|Patua+One|Righteous");
@import url("https://fonts.googleapis.com/css?family=Laila:500");
.get-weather {
  color: red;
}

.clear-button {
  background: #92c7eb;
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/010_x-512.png");
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.searchbar {
  height: 2em;
  width: 25em;
}

.input-and-button- {
  position: relative;
  animation-name: rise-up3;
  animation-fill-mode: both;
  animation-duration: 1.2s;
  animation-delay: 1s;
}

.input-and-button-active {
  position: relative;
  animation-name: translate-search;
  animation-fill-mode: both;
  animation-duration: 4s;
  animation-delay: 0s;
  overflow: visible;
}
.input-and-button-active ul {
  font-size: calc(8px + 1vw);
}
.input-and-button-active .searchbar {
  width: 15em;
}
.input-and-button-active .auto-list-option {
  width: 15vw;
  height: 1.3vw;
  font-size: 1vw;
}

.auto-list-option {
  border: 1px black solid;
  list-style: none;
  position: relative;
  right: 2.4em;
  background-color: white;
  box-shadow: 31px -1px 5px 0px rgba(0, 0, 0, 0.17);
  z-index: 1;
}

.auto-list-option:hover {
  background-color: rgba(241, 240, 240, 0.923);
}

@keyframes rise-up3 {
  0% {
    left: 35%;
    top: 140%;
  }
  100% {
    left: 35%;
    top: 60%;
  }
}
@keyframes active-search {
  0% {
    right: -50%;
  }
  100% {
    right: 0%;
  }
}
@keyframes zip-down {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(5em);
  }
}
@keyframes translate-search {
  0% {
    right: 250px;
    top: 450px;
  }
  100% {
    right: 0px;
    top: 5px;
  }
}
@keyframes hide-search {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  background-color: white;
  height: 900px;
}

.heading-container- {
  display: flex;
  flex-direction: column;
}

.heading-container-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
}

.page-header {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-title-clock {
  padding-top: 9px;
}

.main-title- {
  font-family: "Righteous", cursive;
  text-align: center;
  font-size: 17vw;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 2.5s;
  color: #5778d1;
}

.main-title-active {
  font-family: "Righteous", cursive;
  text-align: left;
  font-size: 2px;
  position: relative;
  left: 5%;
  margin-top: 0px;
  margin-bottom: 2px;
  animation-name: shrink, translate-title;
  animation-fill-mode: both, both;
  animation-duration: 6s, 2s;
  animation-delay: 0s, 2s;
  color: #5778d1;
}

.location-title- {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: "Poller One", cursive;
  color: white;
}

.location-title-active {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: "Poller One", cursive;
  font-size: 2.5vw;
  color: black;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 8s;
}

.info-container- {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  display: none;
}

.info-container-active {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Laila", serif;
  animation-name: rise-up;
  animation-fill-mode: both;
  animation-duration: 5s;
  animation-delay: 5s;
  text-align: center;
  width: 99%;
}

.main-info-left- {
  position: relative;
  border: 5px red solid;
  color: white;
  width: 18%;
  height: 100%;
  left: 1%;
  font-family: "Squada One", cursive;
}

.main-info-left-active {
  position: relative;
  border: 3px black solid;
  color: black;
  width: 18%;
  height: 100%;
  left: 5px;
  align-self: flex-start;
  font-size: 2vw;
}

.main-info-right- {
  position: relative;
  border: 5px black solid;
  color: black;
  width: 18%;
  height: 100px;
  align-self: flex-start;
  font-family: "Archivo Black", sans-serif;
}

.main-info-right-active {
  position: relative;
  border: 3px black solid;
  color: black;
  width: 18%;
  height: 50%;
  font-family: "Laila", serif;
  font-size: 2vw;
  align-self: flex-start;
}

.page-title {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 90vh;
  min-width: 90vw; */
  /* flex-direction: column; */
  /* height: 100px; */
  text-align: left;
}

.main-container > p {
  margin: 0%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shrink {
  0% {
    font-size: 140px;
  }
  100% {
    font-size: calc(16px + 2.5vw);
  }
}
@keyframes translate-title {
  0% {
    left: 200px;
    top: 150px;
  }
  100% {
    left: 0px;
    transform: translateY(500px);
  }
}
@keyframes rise-up {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 35px;
    opacity: 1;
  }
}
@keyframes rise-up2 {
  0% {
    bottom: 0px;
    left: 0%;
  }
  100% {
    bottom: 200px;
    left: 80%;
  }
}
@keyframes remove-hidden {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.zoom-map- {
  border: solid 2px black;
  width: 50%;
  position: relative;
  align-self: center;
}

.zoom-map-active {
  border: solid 2px black;
  width: 50%;
  position: relative;
  align-self: center;
}

.svg-map {
  width: 48%;
}

.rsm-svg {
  width: 99%;
  height: 50%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate-title {
  0% {
    left: 200px;
    top: 150px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes rise-up3 {
  0% {
    left: 35%;
    top: 140%;
  }
  100% {
    left: 35%;
    top: 60%;
  }
}
@keyframes rise-up-map {
  0% {
    left: 25%;
    bottom: 10px;
  }
  100% {
    left: 25%;
    transform: translateY(-60%);
  }
}
@media only screen and (max-width: 500px) {
  html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .page-header {
    background-color: #282c34;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: red;
  }
}

/*# sourceMappingURL=main.css.map */
